body {margin: 0;}
.bg-photo {
    width: 100%;
}
.light {
    position: fixed;
    mix-blend-mode: overlay;
    animation: moveY infinite linear;
    bottom: -100%;
}
.light::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #ffc400;
    border-radius: 50%;
    filter: blur(10px);
    animation: moveX infinite alternate ease-in-out;
}
.light:nth-child(1) {left: -50px; width: 400px; height: 400px; animation-delay: 0s; animation-duration: 6s;}
.light:nth-child(2) {left: 300px; width: 350px; height: 350px; animation-delay: 3s; animation-duration: 5s;}
.light:nth-child(3) {left: 700px; width: 500px; height: 500px; animation-delay: 1.5s; animation-duration: 4s;}
.light:nth-child(4) {left: 900px; width: 400px; height: 400px; animation-delay: 2.5s; animation-duration: 9s;}

.light:nth-child(1)::after {animation-delay: 0s; animation-duration: 1.5s;}
.light:nth-child(2)::after {animation-delay: 2s; animation-duration: 3.5s;}
.light:nth-child(3)::after {animation-delay: 1s; animation-duration: 2s;}
.light:nth-child(4)::after {animation-delay: 2.5s; animation-duration: 1.5s;}

@keyframes moveY {
    0% {bottom: -100%;}
    100% {bottom: 100%;}
}

@keyframes moveX {
    0% {opacity: 0; transform: translateX(0);}
    100% {opacity: 1; transform: translateX(300px)}
}
.logo-holder {
    perspective: 500px;
    position: fixed;
    top: calc(50vh - 200px);
    left: calc(50vw - 225px);
    width: 500px;
    height: 350px;
}
.logo {
    width: 500px;
    height: 350px;
    transform-style: preserve-3d;
    transition: .75s;
}
.logo-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .75);
    box-shadow: 0 0 25px #e0e0e0;
    border-radius: 25px;
}
.logo img {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
}
.logo .logo-b {
    transform: translateZ(50px);
}
.logo .logo-f {
    transform: scale(.85) translateZ(100px);
}
.logo .logo-txt {
    top: 115px;
    transform: scale(.75) translateZ(150px);
}

.hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    opacity: .75;
}

.left {
    clip-path: polygon(0% 33%, 0% 66%, 50% 50%);
    /* background: plum; */
}
.right {
    clip-path: polygon(100% 33%, 100% 66%, 50% 50%);
    /* background: teal; */
}
.top {
    clip-path: polygon(33% 0%, 66% 0%, 50% 50%);
    /* background: peru; */
}
.bottom {
    clip-path: polygon(33% 100%, 66% 100%, 50% 50%);
    /* background: slateblue; */
}
.top-left {
    clip-path: polygon(0% 33%, 0 0, 33% 0, 50% 50%);
    /* background:royalblue; */
}
.bottom-left {
    clip-path: polygon(0% 66%, 0 100%, 33% 100%, 50% 50%);
    /* background:tomato; */
}
.top-right {
    clip-path: polygon(66% 0, 100% 0, 100% 33%, 50% 50%);
    /* background:yellowgreen; */
    
}
.bottom-right {
    clip-path: polygon(100% 66%, 100% 100%, 66% 100%, 50% 50%);
    /* background:orangered; */
}

.left:hover~div.logo {
    transform: rotateY(15deg);
}
.right:hover~div.logo {
    transform: rotateY(-15deg);
}
.top:hover~div.logo {
    transform: rotateX(-15deg);
}
.bottom:hover~div.logo {
    transform: rotateX(15deg);
}
.top-left:hover~div.logo {
    transform: rotateX(-15deg) rotateY(15deg);
}
.top-right:hover~div.logo {
    transform: rotateX(-15deg) rotateY(-15deg);
}
.bottom-left:hover~div.logo {
    transform: rotateX(15deg) rotateY(15deg);
}
.bottom-right:hover~div.logo {
    transform: rotateX(15deg) rotateY(-15deg);
}